html, body {
    height: 100%;
}

body {
	display: flex;
    padding-top: 55px;
    text-align: center;
    flex-direction: column;
	padding-left: 2px;
}

main {
    margin: auto;
    padding: 20px;
    text-align: left;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.container {
    display: table;
	vertical-align: center;
	column-count: 2;
	column-gap: 0;
}

.column-left {
    transform: translateY(1vh);
    width: 30%;
	vertical-align: middle;
    float: left;
	padding-right: 10px;
}

.column-left > .profile {
    width: 60%;
    border-radius: 50%;
}

.column-left-sticky {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    transform: translateY(1vh);
    width: 30%;
	vertical-align: middle;
    float: left;
	padding-right: 10px;
}

.column-right{
    width: 65%;
	padding-left: 10px;
	float: right;
}
/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}
